@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* ALL COLORS */
:root {
    --primary-color: #B8FF00;
    --secondary-color: #252525;
    --background-color: #121212;
    --font-color: #ffffff;
    --secondary-font-color: #838383;
}

/* FONTS */
:root {
    --primary-font: "Saira Condensed", sans-serif;
    --sub-heading-font: "Saira", sans-serif;
    --fira-font: "Fira Sans Condensed", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}

body {
    background-color: var(--background-color);
    user-select: none;
}

/* topBar */
.topBarParent {
    display: flex;
    justify-content: center;
}

.topBar {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-top: 2%;
    position: fixed;
}

/* Sidebar */

.SidebarParent {
    margin-left: 3%;
    margin-top: 10%;
    position: fixed;
}

/* Parent Icons Div */
.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    height: 65vh;
    margin-left: 15%;
}

/* Sidebar Icons */
.SideBarIcons {
    background-color: var(--secondary-color);
    width: max-content;
    border-radius: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.SideBarIcons:hover {
    background-color: var(--primary-color);
}

/* IconsImage */
.InsideIcons {
    display: flex;
    justify-content: center;
}

/* Main Logo */
.logo {
    width: 5vmax;
}

/* END OF SIDEBAR COMPONENTS */

/* TOP CONTENTS HOMEPAGE */
.parentTopContentTexts {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
}

.childTopContent {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* width: max-content; */
}

.topContentTexts {
    line-height: 2px;
}

.topContentTexts>h1 {
    color: white;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 4vmax;
}

.topContentTexts>p {
    color: var(--secondary-font-color);
    font-family: var(--sub-heading-font);
    font-weight: 100;
    font-size: 1.15vmax;

}


/* searchbar */
.searchbarDiv {
    display: flex;
    align-items: center;
}

.searchIcon {
    margin-left: -30px;
    align-self: center;
}

.searchBar {
    background-color: var(--secondary-color);
    border: none;
    width: 15vmax;
    padding: 5.5% 10%;
    border-radius: 20px;
    color: white;
}

.searchBar:focus {
    outline: none;
}

.categories {
    font-size: 2vmin;
    width: 15vmin;
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--secondary-font-color);
    font-family: var(--sub-heading-font);
}

.CategoryDiv {
    position: absolute;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 20px;
}

/* CARD DIV */

.parentCard {
    display: flex;
    justify-content: center;
}

.Gridcards {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    top: 14vmax;
    width: max-content;
    left: 15%;
}

.Image {
    width: 18vmax;
    height: 17vmax;
    object-fit: cover;
    border-radius: 1vmax;
}





.workoutTexts {
    line-height: 10px;
}

.workoutTexts>h1 {
    font-family: var(--primary-font);
    color: white;
    font-size: 2rem;
}

.workoutTexts>p {
    font-family: var(--sub-heading-font);
    color: var(--secondary-font-color);

}

@media only screen and (max-width: 1000px) {
    .workoutTexts>h1 {
        font-family: var(--primary-font);
        color: white;
        font-size: 1.45rem;
    }
}

@media only screen and (max-width: 900px) {
    .workoutTexts>h1 {
        font-family: var(--primary-font);
        color: white;
        font-size: 1.5rem;
    }

    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 80%;
    }



    .Image {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1vmax;
    }

}

@media only screen and (max-width: 700px) {
    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 80%;
    }



    .Image {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1vmax;
    }

}

@media only screen and (max-width: 600px) {
    .SidebarParent {
        display: none;
    }

    .childTopContent {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .firstChildTopContent {
        display: flex;
        justify-content: center;
    }


    .topContentTexts>h1 {
        color: white;
        font-family: var(--primary-font);
        font-weight: 900;
        font-size: 10vmin;
    }

    .topContentTexts>p {
        color: var(--secondary-font-color);
        font-family: var(--sub-heading-font);
        font-weight: 100;
        font-size: 3vmin;
    }

    .topBar {
        background-color: var(--background-color);
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 999;
        height: 60px;
        margin-top: -8px;
    }

    .logobar {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .AllContents {
        z-index: 12;
    }

    .searchBar {
        display: none;
    }

    .userProfile {
        display: none;
    }



    .topBar {
        display: flex;
        justify-content: center;
    }

    .parentCard {
        display: flex;
    }

    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 68%;
        left: 6%;
    }

    .Image {
        width: 130%;
        height: 60%;
        object-fit: cover;
        border-radius: 1vmax;
    }

    .CategoryDiv::-webkit-scrollbar {
        display: none;
    }

    .AccordionMainDiv {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .categories {
        font-size: 4vmin;
        padding: 2px 40px;
        width: 45vmin;
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: none;
        color: var(--secondary-font-color);
        font-family: var(--sub-heading-font);
    }


    .CategoryDiv {
        width: 100%;
        position: absolute;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        overflow-y: scroll;
        overflow-y: hidden;
    }

    .CategoryDiv::-webkit-scrollbar {
        display: none;
    }
}

/* END OF HOMEPAGE CSS  */
/* ---------------------------------- */
/* HISTORY LOGS CSS BEGINS HERE*/
.HistoryDiv {
    background-color: var(--background-color);
    height: 100vh;
    /* z-index: -1; */
}

.AccordionMainDiv {
    width: 70%;
    color: white;

}

.AccordionParentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.AccordionPanel>div {
    display: flex;
    justify-content: center;
}

.accordionHr {
    width: 95%;
    border: 1px solid var(--secondary-font-color)
}

.AccordionComponent {
    background-color: #252525;
    border-radius: 15px;
    border: none;
    font-family: var(--fira-font);
    margin-top: 1%;
    padding: 0.5% 0px;
}

.BoxAccordion {
    font-size: 1.5rem;
}

.AccordionPanel {
    font-size: 1vmax;
    font-weight: 400;
}

.historyTopTexts {
    line-height: 3vmax;
}

.historySearch {
    background-color: var(--secondary-color);
    border: none;
    width: 15vmax;
    padding: 4% 10%;
    border-radius: 20px;
    color: white;
}

.accordionTextParent>div {
    margin-top: 2%;
    width: 90%;
}

.accordionTextParent {
    display: flex;
    justify-content: center;
}

.accordionTextChild {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.leftTexts {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.rightTexts {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

@media only screen and (max-width: 600px) {
    .accordionTextParent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
        padding-bottom: 20px;
    }

    .accordionTextParent>div {
        margin-top: 2%;
        width: 130%;
    }

    .accordionTextChild {
        width: 20%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }

    .leftTexts {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    .rightTexts {
        width: 30%;
    }

    .accordionTextParent::-webkit-scrollbar {
        height: 4px;
    }

    .accordionTextParent::-webkit-scrollbar-thumb {
        background: var(--secondary-font-color);
        border-radius: 20px;
    }

    .accordionTextParent::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
    }

}

/* NOTIFICATION DIV */
.NotificationDiv {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.notificationParentDiv {
    width: 70%;
}

.notificationIndividual {
    margin-top: 2%;
    border-radius: 1vmax;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 3vmax;

}

.notifHeader>h1 {
    font-family: var(--fira-font);
    font-weight: 600;
    font-size: 1.5vmax;
}

.subTextsNotif {
    font-size: 0.95vmax;

}

.subTextsNotif {
    display: flex;
    justify-content: space-between;
}