@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ALL COLORS */
:root {
    --primary-color: #B8FF00;
    --secondary-color: #252525;
    --background-color: #121212;
    --font-color: #ffffff;
    --secondary-font-color: #838383;
    --mobile-primary-color: #171717;
    --input-border-color: #3C3C3C;
}

/* FONTS */
:root {
    --primary-font: "Saira Condensed", sans-serif;
    --sub-heading-font: "Saira", sans-serif;
    --fira-font: "Fira Sans Condensed", sans-serif;
    --register-font: "Fira Sans Extra Condensed", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
}



body {
    background-color: var(--background-color);
    user-select: none;
}

/* topBar */
.topBarParent {
    display: flex;
    justify-content: center;
}

.topBar {
    display: flex;
    justify-content: space-between;
    width: 94%;
    margin-top: 2%;
    position: fixed;
}

/* Sidebar */

.SidebarParent {
    margin-left: 3%;
    margin-top: 10%;
    position: fixed;
    z-index: 999;
}

/* Parent Icons Div */
.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    height: 65vh;
    margin-left: 15%;
}

/* Sidebar Icons */
.SideBarIcons {
    background-color: var(--secondary-color);
    width: max-content;
    border-radius: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.SideBarIcons:hover {
    background-color: #90bc22;
}

/* .active {
    background-color: red;
    /* Change to the color you want */
/* } */

*/

/* IconsImage */
.InsideIcons {
    display: flex;
    justify-content: center;
}

/* Main Logo */
.logo {
    width: 5vmax;
}

/* END OF SIDEBAR COMPONENTS */

/* TOP CONTENTS HOMEPAGE */
.parentTopContentTexts {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
}

.childTopContent {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* width: max-content; */
}

.topContentTexts {
    line-height: 2px;
}

.topContentTexts>h1 {
    color: white;
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 4vmax;
}

.topContentTexts>p {
    color: var(--secondary-font-color);
    font-family: var(--sub-heading-font);
    font-weight: 100;
    font-size: 1.15vmax;

}


/* searchbar */
.searchbarDiv {
    display: flex;
    align-items: center;
}

.searchIcon {
    margin-left: -30px;
    align-self: center;
}

.searchBar {
    background-color: var(--secondary-color);
    border: none;
    width: 15vmax;
    padding: 5.5% 10%;
    border-radius: 20px;
    color: white;
}

.searchBar:focus {
    outline: none;
}

.categories {
    font-size: 2vmin;
    width: 15vmin;
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: none;
    color: var(--secondary-font-color);
    font-family: var(--sub-heading-font);
}

.CategoryDiv {
    position: absolute;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: max-content;
    gap: 20px;
}

/* CARD DIV */

.parentCard {
    display: flex;
    justify-content: center;
}

.Gridcards {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    top: 14vmax;
    width: max-content;
    left: 15%;
}

.Image {
    width: 18vmax;
    height: 17vmax;
    object-fit: cover;
    border-radius: 1vmax;
}





.workoutTexts {
    line-height: 10px;
}

.workoutTexts>h1 {
    font-family: var(--primary-font);
    color: white;
    font-size: 2rem;
}

.workoutTexts>p {
    font-family: var(--sub-heading-font);
    color: var(--secondary-font-color);

}

@media only screen and (max-width: 1000px) {
    .workoutTexts>h1 {
        font-family: var(--primary-font);
        color: white;
        font-size: 1.45rem;
    }


}

@media only screen and (min-height: 1360px) {
    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 80%;
    }
}



@media only screen and (max-width: 910px) {
    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .workoutTexts>h1 {
        font-family: var(--primary-font);
        color: white;
        font-size: 1.5rem;
    }

    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 80%;
    }



    .Image {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1vmax;
    }

}

@media only screen and (max-width: 700px) {
    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 80%;
    }



    .Image {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-radius: 1vmax;
    }

}

@media only screen and (max-width: 600px) {
    .SidebarParent {
        display: none;
    }

    .childTopContent {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }

    .firstChildTopContent {
        display: flex;
        justify-content: center;
    }


    .topContentTexts>h1 {
        color: white;
        font-family: var(--primary-font);
        font-weight: 900;
        font-size: 10vmin;
    }

    .topContentTexts>p {
        color: var(--secondary-font-color);
        font-family: var(--sub-heading-font);
        font-weight: 100;
        font-size: 3vmin;
    }

    .topBar {
        background-color: var(--background-color);
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 999;
        height: 60px;
        margin-top: -8px;
    }

    .logobar {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .AllContents {
        z-index: 12;
    }

    .searchBar {
        display: none;
    }

    .userProfile {
        display: none;
    }



    .topBar {
        display: flex;
        justify-content: center;
    }

    .parentCard {
        display: flex;
    }

    .Gridcards {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: 30px;
        top: 20vmax;
        place-content: center;
        width: 68%;
        left: 6%;
    }

    .Image {
        width: 130%;
        height: 60%;
        object-fit: cover;
        border-radius: 1vmax;
    }

    .CategoryDiv::-webkit-scrollbar {
        display: none;
    }

    .AccordionMainDiv {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .categories {
        font-size: 4vmin;
        padding: 2px 40px;
        width: 45vmin;
        border-radius: 20px;
        background-color: var(--secondary-color);
        border: none;
        color: var(--secondary-font-color);
        font-family: var(--sub-heading-font);
    }


    .CategoryDiv {
        width: 100%;
        position: absolute;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        overflow-y: scroll;
        overflow-y: hidden;
    }

    .CategoryDiv::-webkit-scrollbar {
        display: none;
    }
}

/* END OF HOMEPAGE CSS  */
/* ---------------------------------- */
/* HISTORY LOGS CSS BEGINS HERE*/
.HistoryDiv {
    background-color: var(--background-color);
    height: 100vh;

    /* z-index: -1; */
}



.AccordionMainDiv {
    width: 70%;
    color: white;

}

.AccordionParentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    flex-wrap: wrap;

}

.AccordionPanel>div {
    display: flex;
    justify-content: center;
}

.accordionHr {
    width: 95%;
    border: 1px solid var(--secondary-font-color)
}

.AccordionComponent {
    background-color: #252525;
    border-radius: 15px;
    border: none;
    font-family: var(--fira-font);
    margin-top: 1%;
    padding: 0.5% 0px;
}

.BoxAccordion {
    font-size: 1.5rem;
}

.AccordionPanel {
    font-size: 1vmax;
    font-weight: 400;
}

.historyTopTexts {
    line-height: 3vmax;
}

.historySearch {
    background-color: var(--secondary-color);
    border: none;
    width: 15vmax;
    padding: 4% 10%;
    border-radius: 20px;
    color: white;
}

.accordionTextParent>div {
    margin-top: 2%;
    width: 90%;
}

.accordionTextParent {
    display: flex;
    justify-content: center;
}

.accordionTextChild {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.leftTexts {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.rightTexts {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

@media only screen and (max-width: 600px) {
    .accordionTextParent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
        padding-bottom: 20px;
    }

    .accordionTextParent>div {
        margin-top: 2%;
        width: 130%;
    }

    .accordionTextChild {
        width: 20%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
    }

    .leftTexts {
        display: flex;
        justify-content: space-around;
        width: 30%;
    }

    .rightTexts {
        width: 30%;
    }

    .accordionTextParent::-webkit-scrollbar {
        height: 4px;
    }

    .accordionTextParent::-webkit-scrollbar-thumb {
        background: var(--secondary-font-color);
        border-radius: 20px;
    }

    .accordionTextParent::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
    }

}

/* NOTIFICATION DIV */
.NotificationDiv {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.notificationParentDiv {
    width: 70%;
}

.notificationIndividual {
    margin-top: 2%;
    border-radius: 1vmax;
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 3vmax;

}

.notifHeader>h1 {
    font-family: var(--fira-font);
    font-weight: 600;
    font-size: 1.5vmax;
}

.subTextsNotif {
    font-size: 0.95vmax;

}

.subTextsNotif {
    display: flex;
    justify-content: space-between;
}

/* ----------------------------------- */
/* profile page */
.flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileParentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.profileChildGrids {
    background-color: #252525;
    padding: 10vmax 10.5vmax;
    border-radius: 1vmax;
    position: relative;
}

.userCard {
    background-image: url("https://i.imgur.com/lGqcqZ4.png");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.silverCard {
    background-image: url("https://i.imgur.com/lGqcqZ4.png");
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgprofiles {
    background-image: url("https://i.imgur.com/4hrmS1Q.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgprofiles {
    position: relative;
    font-family: var(--sub-heading-font);
    color: white;
}

.trainerCard {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    /* left: 30%; */
}

.trainerCardHeader {
    font-style: italic;
    font-weight: 800;
    font-size: 1.75vmax;
    text-align: center;
}

.trainerDp {
    display: flex;
    justify-content: center;
}

.trainerDp>img {
    width: 8vmax;
    height: 8vmax;
}

.trainerName {
    text-align: center;
    color: var(--primary-color);
    font-weight: 900;
    font-style: italic;
    font-size: 2.5vmax;
    width: max-content;
}

.profileDp {
    position: absolute;
    width: 30%;
    bottom: 0px;
    left: 20px;
}

.gymIcon {
    position: absolute;
    width: 30%;
    bottom: 0px;
    right: 20px;
    width: 6%;
    bottom: 1vmax;
}

.userInfo {
    font-family: var(--sub-heading-font);
    font-style: italic;
    position: absolute;
    font-size: 2vmax;
    top: 3vmax;
    right: 1vmax;
    line-height: 0px;
    background: #000000;
    background: linear-gradient(to right, #000000 55%, transparent 110%);
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.userInfo>h1 {
    font-weight: 1000;

}

.userInfo>p {
    font-size: 62%;
}

.picker {
    position: absolute;
    top: 0;
    left: 55%;
    transform: translateX(-50%);
    height: max-content;
}

.scale {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    height: max-content;
}

.scale>div {
    display: flex;
    justify-content: center;
}

.pickerImg {
    height: 20vmax;
}

.scaleImg {
    position: absolute;
    top: 13vmax;
    width: 20vmax;
}



.heightDiv {
    position: absolute;
    line-height: 0%;
    top: 7.3vmax;
    font-size: 2vmax;
}

.weightDiv {
    position: absolute;
    line-height: 0px;
    top: 4.3vmax;
    font-size: 2vmax;
}

.heightDiv>h1 {
    color: var(--primary-color);
}

.weightDiv>h1 {
    color: var(--primary-color);
    font-size: 6vmax;
}

.scaleImgDiv {
    display: flex;
    justify-content: center;
}

.heightDiv>p {
    font-size: 1vmax;
    text-align: center;
}

.weightDiv>p {
    font-size: 1vmax;
    text-align: center;
}

.BMIDiv {
    position: absolute;
    text-align: center;
    left: 28%;
    transform: translateX(-30%);
    transform: translateY(-50%);
    height: max-content;
    line-height: 80%;
    font-family: var(--sub-heading-font);
}



.BMIDiv>h1 {
    font-size: 7vmax;
    color: var(--primary-color);
}

.BMIHeader {
    font-size: 2vmax;
    font-style: italic;
}

.statusBmi {
    font-size: 2.12vmax;
    font-style: italic;
    font-weight: 600;

}



@media only screen and (max-width:250px) {
    .profileChildGrids {
        background-color: #252525;
        padding: 10vmax;
        border-radius: 1vmax;
    }

}

@media only screen and (max-width:1000px) {
    .profileParentGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .profileChildGrids {
        background-color: #252525;
        padding: 11vmax 10.5vmax;
        border-radius: 1vmax;
        position: relative;
    }
}

@media only screen and (max-width:280px) {
    .profileParentGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .profileChildGrids {
        background-color: #252525;
        padding: 10vmax 9vmax;
        border-radius: 1vmax;
    }

    .scaleImg {
        position: absolute;
        top: 13vmax;
        width: 18vmax;
    }

}


@media only screen and (max-height:600px) {
    .profileParentGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .profileChildGrids {
        background-color: #252525;
        padding: 10vmax 10.5vmax;
        border-radius: 1vmax;
        position: relative;
    }

    .userInfo {
        font-family: var(--sub-heading-font);
        font-style: italic;
        position: absolute;
        font-size: 2vmax;
        top: 2.5rem;
        right: 4rem;
        line-height: 0px;
        background: #000000;
        background: linear-gradient(to right, #000000 55%, transparent 110%);
        background-clip: inherit;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.mobileBarParent {
    display: none;
}

@media only screen and (min-height:1366px) {
    .profileParentGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

@media only screen and (max-width:600px) {
    body {
        margin: 0;
    }

    .mobileBarParent {
        display: block;
        margin: 0;
        box-sizing: border-box;
    }


    .mobileParent-container {
        display: flex;
        z-index: 999;
        position: fixed;
        justify-content: space-around;
        bottom: 0;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        /* height: 103px; */
        /* background-color: var(--secondary-color); */
        background: rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10.5px);
        -webkit-backdrop-filter: blur(4.5px);
        border-radius: 10px;
        border-radius: 20px 20px 0px 0px;
    }

    .iconDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        font-family: var(--sub-heading-font);
        font-size: 10px;
        font-weight: 100;
    }

    .bgIcons {
        /* padding-bottom: 20px; */
        /* margin: 10px; */
        width: 44px;
        height: 48px;
    }

    .insideIcons {
        margin: 10px;
    }

    .iconDiv p {
        margin: 0 0;
    }
}

/* -----------------SIGNUP------------------ */
.registerDiv {
    height: 100vh;
}

.navbarReg {
    display: flex;
    justify-content: center;
    width: 100%;
    /* position: absolute; */
}


.navlogo {
    width: 4vmax;
    right: 2vmax;
    top: 2vmax;
    position: absolute;
}

.RegisterChildDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.leftRegister {
    background-color: var(--primary-color);
    width: 35vmax;
    height: 40vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogoParent {
    display: flex;
    justify-content: center;

}

.loginLogo {
    width: 4vmax;
}

.leftLogin {
    background-image: url("https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?cs=srgb&dl=pexels-victor-freitas-841130.jpg&fm=jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -20vmax;
    width: 35vmax;
    height: 40vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.welcomeRegText {
    line-height: 150%;

}

.welcomeRegText>h1 {
    color: var(--secondary-color);
    margin-left: 6%;
    font-size: 6vmax;
    font-family: var(--register-font);
    font-weight: 900;
}

.rightRegister {
    background-color: var(--mobile-primary-color);
    height: 40vmax;
    width: 35vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credentialsParent {
    color: white;
    height: 100%;
    width: 35vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credentialsParent>h1 {
    font-family: var(--register-font);
    font-weight: 700;
    text-align: center;
    font-size: 3vmax;
    margin: 2vmin;
}

form {
    width: 25vmax;
}

.formParent {
    display: flex;
    justify-content: center;
}

.inputfields {
    background-color: transparent;
    border: 1px solid var(--input-border-color);
    border-radius: 0.5vmax;
    width: 95%;
    height: 2.5vmax;
    color: white;
    padding-left: 5%;
    font-family: var(--sub-heading-font);

}

.userAlready {
    text-align: center;
    font-size: 0.8vmax;
    margin-top: 1vmax;
    font-family: var(--fira-font);
}

.userAlreadyP {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.inputfields:focus {
    border: 1px solid var(--primary-color);
    -webkit-transition: 0.3s;
    outline: none;
}

.inputfieldParentDiv {
    margin-bottom: 1vmax;
}

.inputfieldParentDiv>label {
    font-family: var(--sub-heading-font);
    font-weight: 100;
    font-size: 0.75vmax;
    text-align: left;
}

.submitBtnDiv {
    display: flex;
    justify-content: center;
}

.submitBtn {
    margin-top: 0.75vmax;
    width: 100%;
    background-color: var(--primary-color);
    font-family: var(--sub-heading-font);
    font-weight: 600;
    font-size: 1vmax;
    height: 2.5vmax;
    border-radius: 5px;
    border: none;
    color: var(--background-color);
}

.GoogleBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.googleBtnChildDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.googleBtnChildDiv>div {
    align-items: center;
    width: 15vmax;
    justify-content: space-around;
    display: flex;
}

.googleBtn {
    width: 72%;
    border-radius: 5px;
    border: none;
    margin-top: 0.75vmax;
    height: 2.5vmax;
    font-size: 1vmax;
    background-color: white;
    color: var(--background-color);
}

.googleImg {
    width: 1vmax;
    height: 1vmax;
}

.AppleImg {
    width: 0l.5vmax;
    height: 1vmax;
}

.hrReg {
    /* margin-top: 2vmax; */
    border: 1px solid var(--input-border-color);
    width: 70%;
}

@media only screen and (max-width:900px) {

    .inputfieldParentDiv {
        margin-bottom: 0.25vmax;
    }
}

@media only screen and (max-width:600px) {
    .inputfieldParentDiv>label {
        font-family: var(--sub-heading-font);
        font-weight: 100;
        font-size: 1vmax;
        text-align: left;
    }

    .navbarReg {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 2vmax;
    }

    .userAlready {
        text-align: center;
        font-size: 1vmax;
        margin-top: 1vmax;
        font-family: var(--fira-font);
    }

    .navlogo {
        width: 6vmax;
        position: static;
    }

    .leftRegister {
        display: none;
    }

    .rightRegister {
        background-color: var(--mobile-primary-color);
        height: 65vmax;
        width: 85vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .credentialsParent {
        color: white;
        height: 100%;
        width: 85vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .credentialsParent>h1 {
        font-size: 6vmax;
        margin-bottom: 10px;
    }

    form {
        width: 65vmin;
    }

    .inputfields {
        background-color: transparent;
        border: 1px solid var(--input-border-color);
        border-radius: 0.5vmax;
        height: 4.0vmax;
        color: white;
        width: 95%;
        padding-left: 5%;
        font-family: var(--sub-heading-font);

    }

    .inputfieldParentDiv {
        margin-bottom: 5vmin;
    }

    .submitBtn {
        margin-top: 0.75vmax;
        width: 100%;
        background-color: var(--primary-color);
        font-family: var(--sub-heading-font);
        font-weight: 600;
        font-size: 1.5vmax;
        height: 4vmax;
        border-radius: 5px;
        border: none;
    }

    .googleBtn {
        width: 76%;
        border-radius: 5px;
        border: none;
        margin-top: 0.75vmax;
        height: 5.5vmin;
        font-size: 2vmin;
        background-color: white;
    }

    .googleBtnChildDiv>div {
        align-items: center;
        width: 25vmin;
        justify-content: space-around;
        display: flex;
    }


}

.nameParent {
    font-family: var(--fira-font);
}

.ParentCred {
    display: flex;
    justify-content: center;
}

.ChildCred {
    width: 80%;

}

.logoCredDiv {
    display: flex;
    justify-content: center;
}

.credLogo {
    width: 4vmax;

}

.credTexts {
    font-family: var(--fira-font);
    color: white;
    font-weight: 600;
    line-height: 2.5vmax;
}

.YouText {
    color: var(--primary-color);
}

.credTexts>h1 {
    font-size: 4.5vmax;
}

.credTextInp>label {
    color: var(--secondary-font-color);
    font-size: 0.8vmax;
    font-family: var(--sub-heading-font);

}

.credinput {
    width: 95%;
    background-color: transparent;
    border: 1px solid var(--input-border-color);
    border-radius: 0.5vmax;
    padding: 0.8vmax 0vmax;
    padding-left: 5%;
    color: white;
    font-family: var(--fira-font);
}

.credinput:focus {
    outline: none;
}

.credFlex {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 15%;
}

.nextBtn {
    background-color: var(--primary-color);
    width: 3vmax;
    height: 3vmax;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: 1vmax;
}

.nextBtn>div {
    display: flex;
    align-items: center;
}

.leftCred {
    background-color: var(--mobile-primary-color);
    padding-left: 1rem;
}

.UserCred {
    background-size: cover;
    /* Animation */

}

@media only screen and (max-width:600px) {
    .RegisterChildDiv {
        display: flex;
        flex-direction: column;
    }

    .welcomeRegText {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .userCard {
        width: 32%;
        z-index: 999;
    }




    .leftCred {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        top: 5%;
        background-color: transparent;
        padding: 0;
    }

    .credTexts>h1 {
        font-size: 5vmax;
    }

    .nextBtn {
        width: 6vmax;
        height: 6vmax;
    }

    .arrow {
        width: 2vmax;
    }

    .ChildCred {
        margin-top: 10%;
    }

}

@media only screen and (max-height:500px) {
    .userCred {
        right: 2vmax;
    }
}

.modal {
    position: fixed;
    z-index: 999;
    background-color: var(--mobile-primary-color);
    border-radius: 10px;
    color: white;
    font-family: var(--sub-heading-font);
    -webkit-box-shadow: 17px 78px 300px 200px rgba(0, 0, 0, 1);
    -moz-box-shadow: 17px 78px 300px 200px rgba(0, 0, 0, 1);
    box-shadow: 117px 178px 1300px 1200px rgba(0, 0, 0, 0.807);
}

.modalImg {
    object-fit: cover;
    width: 40vmax;
    height: 20vmax;
    border-radius: 10px;
}

.modalContentDiv {
    padding-left: 3vmax;
    line-height: 50%;
}

.modalContentDiv>p {
    font-family: var(--sub-heading-font);
    font-size: 1vmax;
    color: var(--secondary-font-color);
}

.closeDiv {
    display: flex;
    justify-content: flex-end;
}

.modalContentDiv>h1 {
    font-style: italic;
    font-weight: 800;
    font-size: 3vmax;
}

.closeDiv>span {
    position: absolute;
    background-color: var(--primary-color);
    color: black;
    font-size: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    height: 40px;
}

.modalinputsParent {
    padding-top: 10px;
}

.modalinputsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.reps {
    font-family: var(--sub-heading-font);
    width: 90%;
    height: 4vmax;
    background-color: #252525;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.innerreps {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.leftinput>h3 {
    font-weight: 300;
    font-size: 1vmax;
}

.modalControls {
    display: flex;
    height: 2.5vmax;
    width: 10vmax;
    justify-content: space-evenly;
}

.modalControls>input {
    background-color: #2D2D2D;
    width: 20%;
    border: none;
    color: white;
    text-align: center;
    border-radius: 0.5vmax;
}

.plusModal {
    border-radius: 0.5vmax;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.5vmax;
    align-items: center;
    display: flex;
    font-size: 2vmax;
}

.minusModal {
    border-radius: 0.5vmax;
    display: flex;
    align-items: center;
    background-color: #5C5C5C;
    color: var(--background-color);
    padding: 0.8vmax;
    color: white;
    font-size: 2vmax;

}

.saveBtnModal {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.saveBtn {
    background-color: var(--primary-color);
    border: none;
    color: black;
    font-family: var(--sub-heading-font);
    padding: 0.5vmax 3vmax;
    border-radius: 20px;
}

@media only screen and (min-width:600px) {
    .modal {
        position: fixed;
        top: 10px;
    }
}

@media only screen and (max-width:600px) {


    .reps {
        font-family: var(--sub-heading-font);
        width: 90%;
        height: 8vmax;
        background-color: #252525;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    .leftinput>h3 {
        font-weight: 300;
        font-size: 1.7vmax;
    }

    .modalControls {
        display: flex;
        height: 3.5vmax;
        width: 12vmax;
        justify-content: space-evenly;
    }

    .modalControls>input {
        background-color: #2D2D2D;
        width: 20%;
        border: none;
        color: white;
        text-align: center;
        border-radius: 0.5vmax;
    }

    .plusModal {
        border-radius: 0.5vmax;
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 0.9vmax;
        align-items: center;
        display: flex;
        font-size: 3vmax;
    }

    .minusModal {
        border-radius: 0.5vmax;
        display: flex;
        align-items: center;
        background-color: #5C5C5C;
        color: var(--background-color);
        padding: 0.8vmax;
        color: white;
        font-size: 3vmax;

    }

}

@media only screen and (max-height:500px) {
    .modalImg {
        object-fit: cover;
        width: 40vmax;
        height: 10vmax;
        border-radius: 10px;
    }

}

